@model TeacherModel

<h1>Edit @Model.Name</h1>

<form asp-action="Update">
  <div class="w-50 mb-2">
      <input type="hidden" name="Id" value=@Model.Id>
  </div>
  <div class="w-50 mb-2">
      <input type="string" name="Name" placeholder=@Model.Name value=@Model.Name>
  </div>
  <div class='w-50 mb-2'>
      <input type="number" name="Age" placeholder=@Model.Age value=@Model.Age>
  </div>
  <div class='w-50 mb-2'>
      <input type="datetime-local" name="AdmissionDate" placeholder=@Model.JoiningDate value=@Model.JoiningDate>
  </div>
  <div class='w-50 mb-2'>
    @* Use a helper to Create a dynamic list and pre-select *@
    <select asp-for="Subject" asp-items="Html.GetEnumSelectList<Subjects>()"></select>
  </div>

  <input type="submit" value="Update" class="btn btn-primary">
</form>