<h1>A new student</h1>

<form asp-action="Create">
  <div class="w-50 mb-2">
      <input type="string" name="Name" placeholder="Name">
  </div>
  <div class='w-50 mb-2'>
      <input type="number" name="Age" placeholder="Age">
  </div>

  <input type="submit" value="Create" class="btn btn-primary">
</form>